.container {
    max-width: 1024px !important;
}

img {
    max-width: 100%;
}

/* Layout */
#mobile-buy-ticket {
    background: #6B4DFB;
    color: white;
    padding: 10px;
    border: none;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
}

#logo-banner {
    text-align: center;
}

#menu {
    background: gray;
}

#main-banner {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: #665EFB;
    font-weight: 800;
}

#main-banner span {

    background: -webkit-linear-gradient(left, #6B4DFB, #66BCFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main-banner img {
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    margin-top: 22px;
}

/* LOGO BANNER */
#logo {
    padding: 10px 0 10px 0;
    margin: 20px auto;
}

#logo img {
    width: 150px;
}

/* main menu */
#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    margin-left: 10px;
    padding: 10px 0 10px 0;
}

/*main content*/
#casinfo {
    text-align: center;
    color: #5A8DFC;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.7;
    margin-top: 140px;
    margin-bottom: 140px;
}

#cas-description {
    position: relative;
    padding-bottom: 50px;
}

#todo img {
    float: right;
    width: 90%;
}

#woman {
    position: relative;
}

#woman img {
    width: 100%;
    float: right;
    margin-top: -50px;
    margin-right: -15px;
}

.full-width {
    background: -webkit-linear-gradient(bottom left, #6B4DFB, #66BCFF);
    background: -moz-linear-gradient(bottom left, #6B4DFB, #66BCFF);
    background: -o-linear-gradient(bottom left, #6B4DFB, #66BCFF);
    background: linear-gradient(to top right, #6B4DFB, #66BCFF);
}

#guy {
    margin-top: 50px;
}

#guy img {
    width: 100%;
    margin-left: -15px;
}

.what-cas {
    color: white;
    margin-top: 20px;
}

.what-cas h2 {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.what-cas p {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 20px;
}

.objetives-cas {
    color: white;
    margin-top: 30px;
}

.objetives-cas h2 {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.objetives-cas p {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 20px;
}

#fibes {
    margin-top: 100px;
}

#fibes h2 {
    color: #5A8DFC;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

#fibes p {
    color: #5A8DFC;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
}

.footer {
    color: #5A8DFC;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 80px;
    padding: 20px;
}

.footer .row {
    margin-bottom: 20px;
}

/* General Styles */
body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    padding-bottom: 20px;
}

@media (min-width: 768px) {

    /* Header */
    #header-desktop {
        padding-top: 30px;
    }

    #header-desktop #logo-desktop img {
        width: 100px;
    }

    #header-desktop #actions {
        text-align: right;
    }

    #header-desktop #header-twitter img {
        width: 16px;
    }

    #header-desktop #header-buy-ticket {
        background: #648DFF;
        border: none;
        color: white;
        padding: 10px 30px;
        margin-left: 20px;
        text-decoration: none;
    }

    /*Banner*/
    #main-banner {
        font-size: 70px;
        margin-top: 80px;
        margin-bottom: 150px;
        line-height: 1.3;
    }

    #main-banner img {
        width: 345px;
        position: absolute;
        left: 50%;
        margin-left: -165px;
        margin-top: 55px;
    }

    #casinfo {
        margin-top: 70px;
        margin-bottom: 150px;
    }

    #cas-description {
        padding-bottom: 65px;
    }

    #woman img {
        width: 600px;
        right: 0;
        margin-right: -70px;
    }

    .what-cas {
        position: absolute;
    }

    #guy {
        margin-top: 60px;
    }

    #guy img {
        width: 650px;
        left: 0;
    }

    .objetives-cas {
        position: absolute;
        top: 0;
        right: 15px;
        margin-top: -40px;
    }

    /* FIBES */
    #fibes h2 {
        text-align: left;
        font-size: 40px;
    }

    #fibes p {
        text-align: left;
        padding-left: 0;
    }

    .footer {
        text-align: left;
    }

    .footer .title {
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) {
    #woman img {
        margin-right: -70px;
    }
}


