/* General styles */

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

img {
    max-width: 100%;
}

p {
    font-size: 15px;
    line-height: 1.5;
}

section {
    padding-top: 50px;
    padding-bottom: 50px
}

.container {
    max-width: 1024px !important;
}

/*Logos & banners*/

#logo-banner {
    text-align: center;
}

#logo {
    padding: 10px 0 10px 0;
    margin: 20px auto;
}

#logo img {
    width: 150px;
}

#header-desktop #header-twitter img {
    width: 22px;
}

#mobile-buy-ticket {
    background: #6B4DFB;
    color: white;
    padding: 10px;
    border: none;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    text-align: center;
    text-decoration: none;
}

/*CSS content*/

#main-title {
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    color: #665EFB;
    font-family: serif;
    margin-top: 100px;
    margin-bottom: 50px;
}

#main-subtitle {
    color: #665EFB;
    font-family: serif;
    text-align: center;
}

.main-info {
    text-align: center;
    font-size: 20px;
    margin-bottom: 100px
}

.gradient-background {
    background: -webkit-linear-gradient(bottom left, #6B4DFB, #66BCFF);
    background: -moz-linear-gradient(bottom left, #6B4DFB, #66BCFF);
    background: -o-linear-gradient(bottom left, #6B4DFB, #66BCFF);
    background: linear-gradient(to top right, #6B4DFB, #66BCFF);
}

.lightgray-background {
    background-color: #F9F9F9
}

.info-text {
    color: white;
}

.info-title {
    padding-bottom: 20px;
    margin-top: 0
}

.colored {
    color: #6B4DFB
}

.padded {
    padding: 25px;
}

/*Media queries*/

@media (min-width: 768px) {

    #header-desktop {
        padding-top: 30px;
        display: flex;
        align-items: center;
    }

    #header-desktop #logo-desktop img {
        width: 100px;
    }

    #header-desktop #actions {
        text-align: right;
    }

    #header-desktop #header-buy-ticket {
        background: #648DFF;
        border: none;
        color: white;
        padding: 9px 30px;
        margin-left: 20px;
        text-decoration: none;
    }

}

@media (max-width: 768px) {

    #main-title {
        font-size: 40px;
    }
}